#about-user {
  width: 100vw;
  height: 250px;
  margin: 180px 0 0 0;
}

#profile-img:before {
  content: "";
  top: 100px;
  left: 200px;
  position: absolute;
  display: inline-block;
  width: 160px;
  height: 160px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #012c0b;
  border: solid 7px #eae9e9;
}

#profile-img {

}
