.carousel-img img {
  height: 398px;
  object-fit: cover;
  width: 100%;
}
.carousel-img {
  padding:0;
}

.carousel-item {
  margin:0;
}
.carousel-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.my-carousel {
  border: solid 1px #fc3c3c;
  margin: 40px;
  padding: 0;
  height: 400px;
}

ol.carousel-indicators {
  margin:0;
  padding: 20px 0;
  position: absolute;
  top:390px;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: solid #fc3c3c 2px;
  background: #fc3c3c;

}

@media (max-width:768px) {
  .carousel-img {
    display: none;
  }
}
