
* {
  box-sizing: border-box;
}

/* utis */
.zero-padding {
  padding:0;
}
.hide {
  display: none!important;
}
.show {
  display: block!important;
}

.show-flex {
  display: flex!important;
}

/* font size */
.large-size-text {
  font-size:18px;
}
.medium-size-text {
  font-size:14px;
}
.small-size-text {
  font-size:12px;
}
.tiny-size-text {
  font-size:10px;
}

/* font weight  */
* {
  font-family: 'Ubuntu', sans-serif;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

/* colors */
.orange-color {
  color: #C95501;
}
.green-color {
  color: #012C0B;
}
.red-color {
  color: #7D0000;
}
.yellow-color {
  color: #EAA81B;
}
.white-color {
  color: white;
}

.orange-background {
  background: #C95501;
}
.green-background {
  background: #012C0B;
}
.red-background {
  background: #7D0000;
}
.yellow-background {
  background: #EAA81B;
}
.gray-background {
  background: #EAE9E9;
}
.white-background {
  background: white;
}

/* link */
.link {
  cursor:pointer;
}
.link i {
  font-size: 10px;
  margin: 0 5px;
}
.link:hover {
  text-decoration: none;
}

/* card for news, vote sections*/
.card {
  width: 274px;
  height: 330px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 20px 10px;
  padding: 30px;
  text-align:left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* placholder */
::-webkit-input-placeholder { /* Edge */
  padding-left:0;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  padding-left:0;
}

:-moz-placeholder { /* Firefox 18- */
  padding-left:0;
}

::placeholder {
  padding-left:0px;
}

/* button sizes */
.primary-button-size {
  width: 150px;
  height: 40px;
}

.contact-form-header {
  text-align: left;
  padding-left: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}
