* {
  box-sizing: border-box;
}

/* utils */
.zero-padding {
  padding: 0;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

/* input */

input:focus,
textarea:focus,
select:focus,
video:focus {
  outline: none;
}

input,
textarea,
select {
  font-size: 14px;
}

/* font size */
.large-size-text {
  font-size: 18px;
}

.medium-size-text {
  font-size: 14px;
}
.small-size-text {
  font-size: 12px;
}
.tiny-size-text {
  font-size: 10px;
}

/* font weight  */
* {
  font-family: "Ubuntu", sans-serif;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

/* colors */
.orange-color {
  color: #c95501;
}
.green-color {
  color: #012c0b;
}
.red-color {
  color: #7d0000;
}
.yellow-color {
  color: #eaa81b;
}
.white-color {
  color: white;
}

.orange-background {
  background: #c95501;
}
.green-background {
  background: #012c0b;
}
.red-background {
  background: #7d0000;
}
.yellow-background {
  background: #eaa81b;
}
.gray-background {
  background: #eae9e9;
}
.white-background {
  background: white;
}

/* link */
.link {
  cursor: pointer;
}
.link i {
  font-size: 10px;
  margin: 0 5px;
}
.link:hover {
  text-decoration: none;
}

/* card for news, vote sections*/
.card {
  width: 274px;
  height: 330px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 20px 10px;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* placholder */
::-webkit-input-placeholder {
  /* Edge */
  padding-left: 10px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding-left: 10px;
}

:-moz-placeholder {
  /* Firefox 18- */
  padding-left: 10px;
}

::placeholder {
  padding-left: 10px;
}

/* button */
.primary-button-size {
  width: 150px;
  height: 40px;
}

.button-container {
  display: flex;
  align-items: center;
}

.button {
  text-indent: 0;
  border-radius: 7px;
  height: 40px;
}
.button-loader {
  display: flex;
  margin: 0;
  padding: 0;
}

/* contact form */

.contact-form-header {
  text-align: left;
  padding-left: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

/* validation */
.error-input {
  border: solid 2px red;
}

/* loader spinner */
.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .small-row-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  input,
  textarea,
  select {
    font-size: 16px;
  }
}
