#contacts-preview {
  text-align: left;
  background: #f6f6f6;
  margin: 0 30px;
  padding-top: 10px;
  border-radius: 5px;
}

#contacts-preview h3 {
  color: #fc3c3c;
}

.contacts-preview-item {
  display: flex;
  flex-direction: column;
}
