#contacts {
  display: flex;
  margin:0;
  padding: 100px 0;
  justify-content: center;
  background: linear-gradient(to bottom,  #EAA81B 0%,#EAA81B 45%,#012C0B 45%,#012C0B 100%);
}

#map {
  width: 450px;
  height: 450px;
  background: #eae9e9;
  border-radius: 7px;
  margin: 0 auto;
  max-width: 500px;
}

#contact-form-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
}

::placeholder {
  padding-left:10px;
}

@media (min-width: 500px) and (max-width: 992px) {
  #contact-form-outer {
    padding-right: 0;
  }
  #contact-form-home {
    margin:0 auto;
    width: 450px;
  }
  #contact-form-outer h2 {
    width:450px;
    margin:40px auto 10px auto;
  }


  #map {
    width:auto;
    height: 400px;
  }
}

/* small mobile */
@media (max-width: 416px) {
  #contact-form-outer {
    padding: 0;
  }
  #contact-form-home {
    margin:0 auto;
    width: 350px;
  }
  #contact-form-outer h2 {
    width:350px;
    margin:40px auto 10px auto;
  }
  #contacts {
    background: linear-gradient(to bottom,  #EAA81B 0%,#EAA81B 35%,#012C0B 35%,#012C0B 100%);
    padding: 50px 0;
  }

  #map {
    width:auto;
    height: 300px;
    margin: 0 40px;
  }
}

/* mobile */
@media (min-width: 416) and (max-width: 501px) {
  #contact-form-outer {
    padding: 0;
  }
  #contact-form-home {
    margin:0 auto;
    width: 350px;
  }
  #contact-form-outer h2 {
    width:350px;
    margin:40px auto 10px auto;
  }
  #contacts {
    background: linear-gradient(to bottom,  #EAA81B 0%,#EAA81B 35%,#012C0B 35%,#012C0B 100%);
    padding: 50px 0;
  }

  #map {
    width:auto;
    height: 300px;
    margin: 0 60px;
  }
}

@media (min-width: 501px) and (max-width: 778px) {
  #map {
    width: 400px;
    height: 300px;
  }

  #contacts {
    padding: 50px 0;
  }
}
