#contacts-preview {
  text-align: left;
  background: #012C0B;
  margin: 0 30px;
  padding-top: 10px;
  border-radius: 5px;
}

#contacts-preview h2 {
  color: white;
}

.contacts-preview-item {
  display: flex;
  flex-direction: column;
  font-size:12px;
  padding-top:20px;
}

#contacts-link {
  font-weight: bold;
  text-decoration: none;
  width:110px;
  font-size: 14px;
}
