#error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#error-message {
  margin-bottom: 20px;
}
#error-button {
  padding: 10px;
  border-radius: 7px;
}

#error-button:hover {
  color: white;
  text-decoration: none;
}
