#footer {
  background: #f6f6f6;
  padding:30px 0;
  margin:0;
}
.contacts-header {
  font-size: 18px;
  padding: 0;
  color: #3a3a59;
}
#contacts-main-header {
  text-align: left;
  margin: 10px 0px 10px 20px;
  background: #3a3a59;
  color: white;
  width: 160px;
  padding: 5px 8px;
  border-radius: 2px;

}
.contacts-item {
  text-align: left;
  display: inline-block;
  font-size: 14px;
  padding: 20px;
}

#contacts-info {
  margin:0;
}

form input {
  margin: 10px 0;
  height: 45px;
  border-radius:5px;
  box-shadow: none;
  border: none;
}

#submit-button {
  align-self:flex-start;
}
#footer-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 20px;
}
#footer-form-header {
  text-align: left;
  color: #3a3a59;
  padding-left: 20px;
}

textarea {
  margin: 10px 0;
  height:100px;
  border-radius:5px;
  border: none;
  resize: none;
}
textarea::placeholder {
  padding-top:5px;
}
::placeholder {
  padding-left: 10px;
  vertical-align: top;
}
@media (max-width:992px) {
  #footer-form {
    width: 350px;
  }
}
@media (max-width:768px) {
  #footer-form-outer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #contacts-outer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #contacts-info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
