#empty-forum-image {
  width:200px;
  height: 200px;
}

#forum {
  padding: 80px 0;
}
.small-screen {
  display:none;
}
#forum-link {
  text-align: right;
  padding-right: 80px;
  margin-bottom: 20px;
}
#forum-link-text:hover {
  color: white;
}
#forum-link-icon {
  padding-left: 10px;
}
.forum-message {
  padding-top: 10px;
}
#chat-back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
}

/* forum form */
#forum-form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#forum-form-outer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#forum-form-outer h3 {
  padding-left: 0;
}

#forum-text {
  height: 180px;
  margin:0 0 20px 0;
}
#forum-button-outer {
 height: 40px!important;
}
#forum-button {
  margin:0;
  width: 100%;
  background: #c95501;
}

/* forum previews */
.forum-preview-item {
  border-radius: 7px;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor:pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


#forum-preview-container {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding-right: 80px;
}

/* expanded forum */
#forum-expanded {
  background: linear-gradient(to right,  #7D0000 0%,#7D0000 50%,white 50%,white 100%);
  position: relative;
}
#forum-back-button  {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
#forum-back-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
}
#forum-list {
  list-style: none;
  height: 100vh;
  overflow-y: scroll;
  margin:0;
}
.forum-card {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: auto;
  width: 90%;
  margin: 50px 0;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
  cursor:pointer;
  -webkit-transition: padding 1s; /* Safari prior 6.1 */
  transition: padding 1s;
}
.forum-card:hover {
padding: 30px;
  -webkit-transition: padding 1s; /* Safari prior 6.1 */
  transition: padding 1s;
}

.forum-card-footer-right  {
  text-align: right;
  padding:0;
}
.forum-card-footer-left  {
  padding:0;
}
.active-forum {
  border-left: 10px solid #EAA81B;
}


/* small */
@media (max-width: 768px) {
  #forum-preview-container {
    padding-right: 15px;
    padding-top: 50px;
  }
  .forum-preview-item  {
    margin-top: 20px;
  }
  #forum-link {
    font-size: 24px;
    padding-right: 15px;
  }
  #forum-link-icon {
    font-size: 18px;
    position: relative;
    top: 3px;
  }
  .small-screen {
    display: block;
  }
  .large-screen {
    display: none;
  }

}

/* medium */
@media (max-width: 768px) {
  #forum {
    padding: 50px 0;
  }
  .forum-list-visibility {
    display: none;
  }
  #forum-chat-outer {
    background: white;
  }
  #forum-expanded {
    background: #7D0000;
  }
  #forum-chat {
    margin-top: 10px;
  }
  .active-forum {
    border-left: none;
  }
  #empty-forum-image-outer {
    margin-bottom: 30px;
  }
}
