#login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
}

#login-form {
  display: flex;
  width: 400px;
  margin: auto auto;
  border: solid 1px  #c95501;
  padding: 20px;
  border-radius: 7px;
}

.login-input {
  margin-top: 10px;
  border-radius: 7px;
  border:none;
}

#login-header {
  text-align: left;
}
#login-back {
  font-size: 24px;
  position:absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  -webkit-transition: font-size 1s; /* Safari prior 6.1 */
  transition: font-size 1s;
}
#login-back:hover {
  font-size: 36px;
  -webkit-transition: font-size 1s; /* Safari prior 6.1 */
  transition: font-size 1s;
}

#login-validation {
  text-align: left;
}

/* mobile */
@media (max-width: 768px) {
  #login-form {
    width: 300px;
  }
}
