#my-navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  padding-bottom: 0;
}

.initial-nav-style {
  color:black;
  -webkit-transition: background 1s; /* Safari prior 6.1 */
  transition: background 1s;
}

.scrolled-nav-style {
  background:rgba(255,255,255, 0.7);
  -webkit-transition: background 2s; /* Safari prior 6.1 */
  transition: background 2s;
}



#my-navbar:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 631px;
  height: 1px;
}

#logo {
  width: 45px;
  height: 40px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
}

/* navbar link */

.nav-link {
  color: black !important;
  margin: 30px 40px 0 0;
  padding-bottom: 5px;
}

.nav-link:hover {
  color: #7d0000 !important;
  border-bottom: 2px solid #7d0000;
  padding-bottom: 3px;
}

.dropdown-item {
  border-radius: 0px !important;
  color: #3a3a59 !important;
}

.dropdown-item:hover {
  color: black !important;
  background: white;
}

.dropdown-menu {
  background: #f6f6f6;
  border: none;
  border-radius: 10px;
  position: relative;
  color: purple !important;
}

.dropdown-menu:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 15px;
  width: 10px;
  height: 10px;
  background: #f6f6f6;
  transform: rotate(45deg);
}

.nav-dropdown a:after {
  display: none;
}

/* search */
.fa-search {
  position: relative;
  left: 195px;
}
.form-control::-webkit-input-placeholder {
  margin: 35px;
}
