#my-navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  padding-bottom: 0;
}
#nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-bottom: 20px;
}

#nav-brand {
  font-family: "Lobster", cursive;
  margin-top: 15px;
  margin-left: 20px;
}

.scrolled-nav-style {
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: background 2s; /* Safari prior 6.1 */
  transition: background 2s;
}

#logo {
  width: 45px;
  height: 40px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
}
.is-active {
  color: #c95501 !important;
}
/* navbar link */
#profile-link {
  color: black !important;
  padding-bottom: 20px;
}
#profile-link:hover {
  color: #c95501 !important;
}
.nav-link {
  color: black;
  margin: 30px 40px 0 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav-link:hover {
  color: #c95501 !important;
}

/* search */
.fa-search {
  position: relative;
  left: 195px;
}
.form-control::-webkit-input-placeholder {
  margin: 35px;
}

@media (max-width: 768px) {
  #nav-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: transparent;
  }

  .toggle {
    color: #c95501;
    width: 40px;
    height: 40px;
  }

  .toggle:focus {
    outline:none;
  }

  .toggle::before {
    display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
  }
  .toggle-icon::before {
     font-family: "Font Awesome 5 Free"!important;
     font-weight: 900;
     content: "\f0c9";
     font-size: 36px;
  }

  .navbar-light .navbar-toggler-icon {
    color: white;
    border-color:red;
  }


  #nav-list {
    flex-direction: column;
    background: black;
  }
  .nav-link {
    color: rgba(255, 255, 255, 0.7);
  }
  .nav-link:hover {
    color: white;
  }
  .is-active {
    color: white !important;
  }
  #my-navbar {
    padding: 0;
  }
  #my-navbar:after {
    display: none;
  }
  #nav-brand {
    display: none;
  }
}
