#profile-form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 300px;
  padding-top: 10px;
}
#profile-form-outer {
  background: #3a3a59;
  color: white;
  padding: 40px 0;
  margin: 40px;
  border-radius: 5px;
}
#profile-row {
  margin:0;
}
#profile-form-header {
  text-align: left;
  font-size: 18px;
}
#profile-form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0;
}
#profile-form-text {
  text-align: left;
  padding-top: 30px;
}
#profile-text-header {
  font-size: 14px;
}
#checkbox-label {
  align-self:center;
  font-size: 12px;
  padding-top:10px;
  padding-left: 9px;
}
input[type="checkbox"] {
  margin:0!important;
}
#profile-checkbox {
  display: flex;
}
.profile-text-item {
  position: relative;
  margin-left:10px;
  font-size: 14px;
}
.profile-text-item:before {
    content: "";
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    top:10px;
    left:-10px;
    bottom: 0;
    right:0;
    position: absolute;
}

@media (max-width:768px) {
  #profile-form-col {
    display: flex;
    justify-content: center;
  }
  #profile-form-header {
    text-align: center;
    padding-left: 0;
  }
  #profile-text-header {
    display: none;
  }
  #profile-form-text {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 20px 0;
  }

  #submit-button{
    align-self: center;
  }
}
