#questions {
  margin: 20px 60px;
}

.questions-input {
  background:#f6f6f6;
  margin-top:10px;
  padding:0;
}

#questions-form-header {
  text-align: left;
  font-size: 24px;
  color:  #3a3a59;
  padding: 10px 20px;
}


#questions-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 20px 20px 20px;
}
