#reset-password {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

#profile-link {
  color: #C95501!important;
}

#profile-link:hover {
  text-decoration: none;
  color: #C95501;
}

.warning-icon {
  margin-right: 5px;
}
