#services {
  height: 300px;
  margin: 140px 0 0 0;
}

#services-action-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.service-interaction {
  height: 53px;
  width: 250px;
  margin: 20px 0;
}
.row {
  margin:0;
}

#service-select {
  border: solid 1px #EAA81B;
  text-align-last:center;
}
option {
    background: rgba(0,0,0,0.3);
    color:red;
}
