#vote {
  padding: 150px 0;
}

/* vote general input */
.vote-input {
  border-bottom: 1px solid #EAE9E9;
  border-radius: 0px;
  outline: none;
  height: 30px;
  padding-left: 10px;
}
.vote-input:focus {
    border-bottom: 2px solid #CECECE;
    padding-bottom: 0;
}

#vote-question-input {
  width: 100%;
}

.vote-option-inner {
  margin-left: 10px;
}

.vote-option {
  display: flex;
  align-items: center;
}
.vote-decor {
  width:15px;
  height:15px;
  background: #EAE9E9;
  border-radius: 50px;
}

/* vote button */
.vote-button {
  width: 100%;
}

/* poll */

.styles_question__3qxRo {
  font-size: 12px;
}


/* small */
@media (max-width: 840px) {
  .card {
    margin: 10px auto;
  }
}
