#vote {
  padding: 50px 0;
}

#vote-error-message {
  text-align: left;
  padding-left: 45px;
}

#create-poll-btn {
  min-height: 40px;
}

/* empty polls */
.empty-poll {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#empty-polls-image {
  width:200px;
  height: 200px;
}
/* vote general input */
.vote-input {
  border-bottom: 1px solid #eae9e9;
  border-radius: 0px;
  outline: none;
  height: 30px;
  padding-left: 10px;
}
.vote-input:focus {
  border-bottom: 2px solid #cecece;
  padding-bottom: 0;
}

#vote-question-input {
  width: 100%;
}

.vote-option-inner {
  margin: 5px 10px;
  width: 200px;
}

.vote-option {
  display: flex;
  align-items: center;
  position: relative;
}

#new-vote-form {
  padding: 10px 20px;
}

.delete-option {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
}

.delete-option i {
  padding: 5px 5px 5px 6px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  background: #eae9e9;
  border-radius: 50px;
}

/* vote button */
.vote-button {
  width: 100%;
}

/* small */
@media (max-width: 840px) {
  .card {
    margin: 10px auto;
  }
  #empty-polls-image-outer {
    margin-bottom: 30px;
  }
}
